.d-flex input {
  margin: 0.9rem 0;
}
.d-flex button {
  margin: 1.5em 0.6em;
  padding: 0.3em 2.4em;
}
.d-flex table {
  margin: 1em 10em;
}
table .btnedit {
  cursor: pointer;
  color: lightgreen;
}
table .btndelete {
  cursor: pointer;
  color: tomato;
}
